@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Title
{
    <title>GameRim.com - About</title>
}
@section Menu
{
    <div id="mo_menu_panel">
        <ul>
            <li><a href="index">Home</a></li>
            <li><a href="Home/About" class="current">About</a></li>
            <li><a href="Home/Register">Register</a></li>
        </ul>
    </div> <!-- end of menu -->
}
@section Login
{

}
@section InputFields
{
    <h1>About Us</h1>
    <img src="../images/mo_image_04.jpg" alt="image" />
    <p>Name: Karam Jutt<br>RollNo: Bcsf11m121</p>
    <p>Contact: 03424652538</p>
    <p>Email: bcsf11m121@pucit.edu.pk</p>
}
@section Scripts
{

}
